@import url(../../lib/font/league-gothic/league-gothic.css);
h2, h4, h3, h5 {
    text-transform: none !important;

    font-family: "League Gothic", sans-serif;
    text-shadow: 5px 3px 3px #000000 !important;
}

h2, h3, h4 {
    text-transform: uppercase !important;
}

h5 {
    font-size: .7em !important;
}

.red-text {
    color: red !important;
}

.blue-text {
    color: #3884b9 !important;
}

.white-text {
    color: #ffffff !important;
}

.red-text {
    color: #920011 !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.title-left {
    width: 400px;
    height: auto;
    float: left;
    text-align: left;
    margin-top: -100px !important;
}

.title-right {
    width: 400px;
    height: auto;
    float: right;
    text-align: right;
    margin-top: -100px !important;
}

.title-center {
    width: 400px;
    height: auto;
    float: left;
    text-align: center;
    margin-top: -100px !important;
}

.comment-box-upper-left {
    width: 450px;
    height: auto;
    position: absolute !important;
    top: -250px !important;
    left: -50px !important;
    background-color: #000;
    padding: 40px !important;
    opacity: 0.9;
}

.plain {
    background-color: transparent !important;
}

li {
    text-align: left !important;
}

.shadow {
    text-shadow: 5px 5px 5px #000000 !important;
}

.alert-test {
    cursor: pointer;
}

.free-stickers {
    color: #17ff2e;
    transform: rotate(-35deg);
    top: 220px;
    position: absolute;
}

.image-50 {
    width: 50px;
    height: auto;
}

.image-200 {
    width: 200px;
    height: auto;
}

.image-300 {
    width: 300px;
    height: auto;
}

.image-400 {
    width: 400px;
    height: auto;
}

.image-500 {
    width: 500px;
    height: auto;
}

.image-600 {
    width: 600px;
    height: auto;
}

.image-800 {
    width: 800px;
    height: auto;
}

.image-float {
    float: right;
}

.contact-block {
    width: 300px !important;
    margin-right: 20px !important;
}

h6 {
    font-size: .5em !important;
}
